{% extends "base.html" %} 
{% load static %}{% block head_title %}Mundo Desconocido{% endblock %} {% block extra_head %}
<link href="/static/css/index.css" rel="stylesheet"> {% endblock %} {% block extra_body %}
<div id="divContainer" class="jumbotron jumbotron-fluid">
    <div class="dinNews">
        <div class="divSection">
            <header>
                <a href="">
                    <h2>MUNDO DESCONOCIDO</h2>
                </a>
                <p>HASTA EL INFINITO Y MÁS ALLÁ</p>
            </header>
            <section>
                <a href="#" class="imgNew">
                    <img src="/static/assets/images/planet_x.png" class="img-fluid">
                </a>
                <p>En este blog encontrarás desde las noticias más inéditas sobre el desconocido y gran universo en el que nos encontramos, hasta reseñas y pequeñas noticias sobre nuestros queridos planetas vecinos: nuevos descubrimientos de agua, pequeños
                    seres vivos conjelados o incluso algún elemento nuevo inexistente para nosotros.</p>
                <p>En Mundo Desconocido nos gusta compartir el conocimiento del desconocimiento, es decir que todo aquello que es desconocido por gran cantidad de la población deje de serlo y se vaya adentrando en un mundo de descubrimientos abismales e
                    infinitos.</p>
                <p>Esperemos que cada minuto que pases en nuestro blog sea lo más beneficiente para tu saber intelectual y cultural, no dudes en ponerte en contacto con nosotros si deseas que ampliemos sobre un tema, o conoces una noticia de interés general
                    o que puede aportar un punto de inflexión para nuestro desconocimiento.</p>
            </section>
        </div>

        <h2 class="post_title">PUBLICACIONES</h2>

        {% for post in posts %}
        <div class="divSection posteado">
            
            <a href="{{ post.get_absolute_url }}">{{ post.nombre }}</a><br>
            <time class="tmePublished" datetime="{{ post.time }}"> {{ post.time }}</time>
            
        </div>
        {% endfor %}
    </div>
    <div class="divPanel">
        <form class="frmSearch">
            <input type="text" placeholder="Nombre" name="nombre">
        </form>
        <div class="divBubbles">
            {% for post in posts %}
            <span class="spnBubble"><a href="/?tag={{ post.tag }}">{{ post.tag }}</a></span> {% endfor %}
        </div>
        <hr class="hrHorizontal">
        <section>
            <h2>Últimos posts</h2>
            {% for post in posts %} {% if forloop.counter <= 2 %} <article class="artRecomendation">
                <a href="{{ post.get_absolute_url }}" class="imgRecomended">
                    <img src="{{ post.foto }}" class="img-fluid">
                </a>
                <header>
                    <h3><a href="{{ post.get_absolute_url }}">{{ post.nombre }}</a></h3>
                    <time class="tmePublished" datetime="{{ post.time }}"> {{ post.time }}</time>
                    <a href="#" class="imgAuthor">
                        <img src="/static/assets/images/photo.jpg" class="img-fluid">
                    </a>
                </header>
                </article>
                {% endif %} {% endfor %}
        </section>
    </div>
</div>
{% endblock extra_body %} {% block extra_scripts %}
<script type="text/javascript">
    setCurrentPage(0);
</script>
<script src="{% static 'js/cookies.js' %}"></script>
{% endblock extra_scripts %}